body {
  padding-top: 36px;
  /*
  background: #333;
  */
}

pre, code {
  border: 0;
  background: transparent;
}

#wrapper {
  max-width: 600px;
  margin: auto;
}

#content {
  background: #fff;
  padding: 9px;
}

.post {
  background: #fff;
  border: 9px solid #eee;
  margin-bottom: 18px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  padding: 0 9px;
}

#wrapper > h1 {
  color: #999;
}
