<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }}</title>
<link href="/lib/css/at-base.css" type="text/css" media="screen, print" rel="stylesheet" />
<link href="/lib/css/at-type.css" type="text/css" media="screen, print" rel="stylesheet" />
<link href="/lib/css/at-print.css" type="text/css" media="print" rel="stylesheet" />
<link href="/css/style.css" type="text/css" media="screen" rel="stylesheet" />

<!--[if IE]>
<link href="/lib/css/at-ie.css" type="text/css" media="screen" rel="stylesheet" />
<![endif]-->
</head>
<body>
<div id="wrapper">
  <h1>chrisirhc</h1>
  <div class="padding" id="content">
    <h1>{{ page.title}}</h1>
    {{ content }}
  </div>
</div>
</body>
</html>
